**/.git
**/.gitignore
**/.DS_Store
**/node_modules
**/vendor
**/.env
**/befit_mobile/.gradle
**/befit_mobile/app/build
**/befit_mobile/build
**/.idea
**/*.log
**/web/public/images/products/*
**/web/public/images/profiles/*
!**/web/public/images/products/.gitkeep
!**/web/public/images/profiles/.gitkeep
README.md
DOCKER_README.md
*.md
